<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div id="links">
   <p id="form" style="font: normal small-caps 32px/54px fantasy;">форма</p>
      <form action="https://%22/" method="get">

      <label>
   <br>
        <input name="field-name-1" placeholder="Введите имя">
      </label>

<br><br>


      <label>

        <input name="field-email" type="email" placeholder="Укажите почтовый адресс" value="">
      </label><br>

      <label><br>
Укажите дату рождения <br>
<input name="field-date" value="2019-09-08" type="date">
      </label>

      

      
<br><br>

      Укажите свой пол<br>
      <label><input type="radio" checked="checked" name="radio-group-1" value="Значение1">М</label>
      <label><input type="radio" name="radio-group-1" value="Значение2">
Ж</label>
<label><input type="radio" name="radio-group-1" value="Значение2">Сustom</label><br><br>
Сколько у вас конечностей<br>
(Список актуален для людей не прошедших через иной путь эволюции и не подвергшихся молниеносным мутациям)<br><input type="radio" name="radio-group-2" value="Значение1">0
<label><input type="radio" name="radio-group-2" value="Значение1">1</label>
<label><input type="radio" name="radio-group-2" value="Значение1">2</label>
<label><input type="radio" name="radio-group-2" value="Значение1">3</label>
<label><input type="radio" name="radio-group-2" value="Значение1">4</label>


<br><br>
Какие вы бы хотели супер силы если вышеуказанное всё же случилось




<br>
 <label>
        <select name="field-name-4[]" multiple="multiple">
          <option value="Значение1"> бессмертие</option>
          <option value="Значение2">прохождение сквозь стены</option>
          <option value="Значение3"> левитация </option>
        </select>
      </label><br>
<br>
<textarea name="field-name-2" style="margin: 0px; width: 569px; height: 147px;" placeholder="Нам очень интересна биография такой личности"></textarea><br><br>
      <label><input type="checkbox" name="se">С контрактом ознакомлен </label><br><br>
<input type="submit" value="Отправить">
    </form>
  
</div>
</body>
<html>